/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.with-margin {
    margin : 5px 10px 5px 10px;
}

a.act-link {
    color:blue !important;
}
label {
    margin: 5px;
}
.emphasis{
    color : red !important;
    font-style : italic;
    font-weight : bold;
}
